$background-color:rgba(70,255,200,0.3);
$header-font: 'Lobster', cursive;
$main-font: 'Raleway', sans-serif;
$padding: 20px;
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background: white;
  margin: 0 0 $padding 0;
  width: 100vw;
  
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $padding;
  padding: $padding 0 $padding $padding;
  [class*='col-']:last-of-type {
    padding-right: $padding;
  }
}
.col-0 {
	width: 5vw;
}
.col-1 {
	width: 15vw;
}
.col-2 {
	width: 25vw;
}
.col-3 {
	width: 35vw;
}
.col-4 {
	width: 45vw;
}
.col-5 {
	width: 55vw;
}
.col-6 {
	width: 65vw;
}
.col-7 {
	width: 75vw;
}
.col-8 {
	width: 85vw;
}
.col-9 {
	width: 95vw;
}

.col-10 {
  width: 100vw;
}

body {
  h1,h2{
    font-family: $header-font;
  }
  a,p{
    font-family: $main-font;
  }
}

.module {
  padding: $padding;
  background: $background-color;

}


